.layout {
    background-color: rgba(31, 31, 31, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    min-height: 100dvh;
    gap: 20px;
    overflow: hidden;
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.header-subheader {
    color: rgba(251, 97, 7, 1);
}

.image {
    filter: brightness(120%);
    transform: translateX(20%);
}

.name-layout {
    position: relative;
}

.name {
    position: absolute;
    top: 0;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 125px;
    grid-auto-rows: 125px;
    justify-content: center;
    width: 100%;
    gap: 10px;
}