@font-face {
    font-family: 'NauryzRedKeds';
    src: url('/fonts/NauryzRedKeds/NauryzRedKeds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'NauryzRedKeds', sans-serif;
    color: #fff;
}